<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>Sporty-Shoes</title>
</head>
<body>

 <h1 align="center">Sporty Shoes</h1><br>
  <div class="login"style="max-width:300px; border:2px solid black;border-radius: 15px;padding-top:20px; padding-bottom:20px; margin-top:80px;margin-left:500px;padding-left:30px;">
        <form action="/validate" method="Get">
            <label for="adminid">Email ID</label>
            <input type="text" name="adminid" placeholder="email@123" required><br><br>
            <label for="adminpass">Password</label>
            <input type="password" name="adminpass" placeholder="******" required><br><br>

            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>